
/*  BASE  */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  --color-logo: #FF0101;
  --color-red: #FF0000;
  --color-pink: #FD5181;
  --color-pink-transparent: #FD518115;
  --color-red-transparent: #FF000015;
  --color-blue-transparent: #4AB8FF15;
  --color-yellow-transparent: #FDCC0C15;
  --color-dark: #282D30;
  --color-yellow: #FDCC0C;
  --color-blue: #4AB8FF;
  --color-light: #FBFBFB;
  --border-radius: 5px;
  /* --color-light: lightgrey; */
}
body {
  margin: 0;
}
html,
body::before,
body::after,
body  *  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ELEMENTS */
div, 
nav, 
main, 
article, 
section,
header, 
footer, 
aside, 
span, 
ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav {
  background-color: #000;
  height: 100%;
  width: 100%;
}
aside {
  background-color: #000;
  height: 100%;
  width: 100%;
  max-width: 100px;
}
div {
  min-width: 50px;
  min-height: 50px;  
}
span {
  min-width: 10px;
  min-height: 20px;
}
aside svg, nav svg {
  max-width: 50px;
  max-height: 25px;
}
h1 {
  font-size: 2.2em;
  line-height: 1.1;
}
h3 {
  font-size: medium;
}
ul {
  list-style: none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,h
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



/* NAVGITION */
.title-nav {}

.logo-nav > img {
  max-width: 120px;
}
.logo-nav {
  padding-left: 25px;
}
nav > ul {
  gap: 9vw;
  min-height: 10vh;
  width: 100%;
  color: var(--color-light);
  justify-content: flex-start;
}



.nav-list {
  /*  */
}

.horizontal {
  /*  */
}



/* FOOTER */
.vertical {
  align-items: end;
}
.copyrights {
  position: relative;
  top: -30px;
  font-size: 10px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: var(--color-light);
}
.icon-aside {
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}
.aside-list > li {
  padding: 10px;
}
.icon-aside {
  /*  */
}




/* LAYOUT */
.outer-container {
  width: 100%;
  height: 100%;
}
.inner-container {
  display: grid;
  min-height: 80vh;
  height: 90vh;
  width: 100%;
  grid-template-columns: 10% 90%;
}

/*  API layout */
.api-container {
  padding: 0 0 0 3%;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-content {
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: start;
}
.inner-main {
  height: 450px;
  max-width: 600px;
  justify-content: start;
}
.section-big {
  width: 100%;
  height: 60%;
}
.section-medium {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  gap: 4%;
  width: 100%;
  height: 40%;
}
.section-medium > article {
  height: 90%;
}
.section-small {
  height: 450px;
  align-items: end;
}



/* HEADER */
header {
  width: 90%;
  justify-content: start;
  padding: 2%;
}
.greeting-container {
  justify-content: start;
}
.greeting {
  min-width: 50%;
  display: flex;
  justify-content: start;
}
#username {
  color: var(--color-logo);
  overflow: visible;
  margin-left: 15px;
}



/* weight */
.weight {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
}
.weight-title {
  position: relative;
  font-weight: bold;
  font-size: small;
  top: 50px;
  left: -200px;
}



/* goals */
.goals {
  border-radius: var(--border-radius);
  background-color: var(--color-red);
}



/* radar */
.radar {
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
}



/* score */
.score {
  border-radius: var(--border-radius);
  background-color: var(--color-light);
}



/* monitoring */
.monitoring {
  max-width: 300px;
  gap: 30px;
  align-items: end;
  flex-direction: column;
}
.monitoring-article {
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
}
.icon-monitoring {
  border-radius: var(--border-radius);
}
.monitoring-info {
  width: 60%;
  flex-direction: column;
  justify-content: end;
}
.monitoring-title {
  margin-left: 10px;
  justify-content: start;
}
.monitoring-title > p {
  min-width: 55%;
  font-weight: 600;
  font-size: medium;
}
.monitoring-title > p:nth-child(2) {
  font-weight: 400;
  font-size: small;
}
.monitoring-calories::before {
  content: attr(data-calories);
  font-size: small;
}

.icon-lipides {
  background-color: var(--color-pink-transparent);
}
.icon-calories {
  background-color: var(--color-red-transparent);
}
.icon-proteines {
  background-color: var(--color-blue-transparent);
}
.icon-glucides {
  background-color: var(--color-yellow-transparent);
}
.icon-monitoring {
  border-radius: var(--border-radius);
}



/*  MEDIA  */
@media screen and (min-width: 1024px) {
  /*  */
}
@media screen and (max-width: 780px) {
  /*  */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
